html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	overflow-y: scroll;
	background-color: #7d9f42;
}

#disheesh-home {
	text-decoration-color: black;
	color: black;
	margin-left: 2%;
}

.header-class {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 25px;
	padding-right: 25px;
	border: 2px solid black;
	margin: 5px;
}

nav {
	display: flex;
}

.nav-link {
	margin: 10px;
	padding: 5px;
	border-radius: 15px;
	color: black;
	font-family: Arial;
	text-decoration: none;
}

.nav-link:hover {
	color: white;
	background-color: black;
	text-decoration: none;
}

#first-container {
	content: "";
	display: table;
	clear: both;
	border: 1px solid black;
	border-radius: 25px;
	background-color: white;
	margin: 25px;
	padding: 10px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 1.0);
}

#second-container {
	border: 1px solid black;
	border-radius: 25px;
	background-color: white;
	margin: 25px;
	padding-left: 5%;
	padding-top: 3%;
	box-shadow: 0 0 25px rgba(0, 0, 0, 1.0);
	/* Two divs side by side */
	text-align: center;
}

#text-container {
	float: left;
	margin-right: 20px;
	padding-top: 0px;
	color:#82301A; 
	font-size:150%; 
	padding-left:10%; 
	padding-top:5%;
	font-size:400%;
	word-spacing:25px;
}

#image-container {
	padding-top: 0px;
	float: right;
	width: 37%;
}

/* Recipes */
.image-content {
	width: 15vw;
	height: 21vh;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 2%;
	border-radius: 25px;
	opacity: 0.7;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.image-content:hover {
	opacity: 1.0;
}

.images {
	width: 20%;
	padding-top: 5px;
	margin-bottom: 10px;
	border-radius: 25px;
}

.images:hover {
	background-color: skyblue;
}

a {
	text-decoration: none;
	color: black;
}
